<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056399092202-m5o02s0f5vj0lmf5p12t3jpndfrba60v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056399092202-m5o02s0f5vj0lmf5p12t3jpndfrba60v</string>
	<key>API_KEY</key>
	<string>AIzaSyCaQYj5rUKffq1U-8Wlj6e6JrIzt-hBpaU</string>
	<key>GCM_SENDER_ID</key>
	<string>1056399092202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pkulik.dev.noetsi</string>
	<key>PROJECT_ID</key>
	<string>notes-app-4f8c5</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-app-4f8c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056399092202:ios:8eb7d5791a768cff39aa93</string>
	<key>DATABASE_URL</key>
	<string>https://notes-app-4f8c5-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>